<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <!-- <link rel="stylesheet" type="text/css" href="newindex.css"> -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='errirhandling.css')}}">
  <title></title>
</head>
<body>
  <div class="full">
    <div class="topcolor">
    </div>
    <div class="bottomcolor"></div>
    <div class="content">
      <h1>{{errormessage}}</h1>
    </div>
  </div>
</body>
</html>